.login{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{

        display: flex;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;


        .left{

            flex:1;
            background: linear-gradient(rgba(216, 204, 240, 0.5),rgba(232, 225, 244, 0.5)),url("https://images.pexels.com/photos/3747505/pexels-photo-3747505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: black;

            h1{
            font-size: 80px;
            line-height: 100px;
            }
            p{
               
                font-size: 30px;
            }
            span{
                
            font-size: 25px;
            }
            button{
            width: 50%;
            padding: 10px;
            border: none;
            background-color: white;
            font-weight: bold;
            cursor: pointer;
            }
        }

        .right{

            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
            color: rgb(33, 32, 32);
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

               input{
               border: none;
               border-bottom: 1px solid lightgray;
               padding: 20px 10px;
                }

                button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: #938eef;
                color: white;
                font-weight: bold;
                cursor: pointer;
                }
            }
        }
    }
}